<div>

    <div class="panel panel-success">
        <div class="panel-heading">Search</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="txtFrom">From</label>
                    <input ng-model="fromTime" type="datetime-local" class="form-control" id="txtFrom"
                           placeholder="Enter From Date Time" required>
                </div>
                <div class="form-group">
                    <label for="txtTo">To</label>
                    <input ng-model="toTime" type="datetime-local" class="form-control" id="txtTo"
                           placeholder="Enter To Date Time" required>
                </div>
                <button type="submit" ng-click="find()" class="btn btn-default">Search</button>
            </form>

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Data</div>
        <div class="panel-body">
            <div ui-grid="gridOptions" ui-grid-exporter ui-grid-selection class="myGrid"></div>
        </div>
    </div>




</div>